@keyframes dampball {
	0% { height: 80%; }
	50% { height: 35%; }
	100% { height: 15%; }
}

@keyframes bouncingball {
    0% {
        bottom: 90%;
        animation-timing-function: ease-in;
    }
    49%  {
        bottom: 0%;
		transform: scaleX(1) scaleY(1);
    }
    50%  {
        bottom: 0%;
		transform: scaleX(1.5) scaleY(0.75);
    }
	54%  {
        bottom: 0%;
        animation-timing-function: ease-out;
		transform: scaleX(1) scaleY(1);
    }
    100% {
        bottom: 90%;
    }
}

@keyframes moveball {
	0% { right: 0%; }
	100% { right: 90%; }
}

#a2 #ballDamper {	
	position: absolute;
	height: 80%;
	width: 100%;
	bottom: 20%;
	
	animation-name: dampball;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#a2 #ball {
	position: absolute;
	background-color: #bbbbbb;
	width: 10%;
	aspect-ratio: 1;
	border-radius: 50%;
	right: 0%;
	
	animation-name: moveball, bouncingball;
	animation-duration: 2s, 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#a2 #floor {
	position: absolute;
	background-color: #55555d;
	height: 20.5%;
	width: 100%;
	bottom: 0%;
}
